.footer-bg {
  background-color: #240e46;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-bg-logo {
  max-width: 250px;
}

.footer-item-label {
  display: block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
  color: #f5f5f5;
}

.footer-item-value {
  font-family: Montserrat;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: normal;
  display: block;
}

/* cada imagem precisa ter 111px */
.footer-paymento-container img {
  max-width: 240px;
}

.footer-text-logo {
  text-align: center;
  margin-top: 20px;
}

.footer-flex {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
}

.footer-item-links-container {
  margin-top: 60px;
}

.footer-item-nav-list li + li {
  margin-top: 16px;
}

.footer-end-bg {
  background-color: #f6851f;
  height: 94px;
  display: grid;
  place-items: center;
}

.footer-item-nav-list li > a {
  cursor: pointer;
}

.footer-end-bg p {
  color: #f5f5f5;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.footer-flex-2 {
  display: flex;
  gap: 60px;
}

@media (max-width: 1320px) {
  .footer-flex {
    grid-template-columns: repeat(2, auto);
    gap: 120px;
  }
}

@media (max-width: 820px) {
  .footer-flex {
    flex-direction: column;
    gap: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-end-bg p {
    font-size: 15px;
  }

  .footer-flex-2 {
    flex-direction: column;
  }

  .footer-text-logo {
    text-align: start;
  }
}

@media (max-width: 720px) {
  .footer-flex {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
