.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bg {
  background: #240e46;
  padding: 20px;
  position: fixed;
  z-index: 99999999;
  width: 100%;
  top: 0;
}

.header-logo-container {
  max-width: 231px;
}

.header-nav-list-flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav-list-flex > li > span {
  display: block;
  font-family: Segoe UI, sans-serif;
  font-size: 18px;
  color: #f5f5f5;
  text-transform: lowercase;
  cursor: pointer;
}

.header-nav-list-flex > li > span.faq {
  text-transform: capitalize;
}

.header-nav-list-button-consult {
  border-radius: 4px;
  background: #f36e21;
  padding: 21px 24px 16px 24px;
  text-align: center;
  min-width: 226px;
  height: 61px;
  cursor: pointer;
}

.header-nav-list-button-consult-mobile {
  border-radius: 4px;
  background: #f36e21;
  padding: 8px;
  cursor: pointer;
  max-width: 200px;
  height: 48px;
  display: grid;
  place-items: center;
  text-align: center;
}

.header-nav-list-button-consult-mobile > a {
  color: #f5f5f5;
  font-family: Montserrat;
  font-size: 16px;
}

.header-nav-list-button-consult > a {
  color: #f5f5f5;
  font-family: Montserrat;
}

.header-nav-list-mobile {
  display: none;
}

.header-bg {
  padding-left: 64px;
  padding-right: 64px;
}

/* mobile */
.menu-mobile-button-close,
.menu-mobile-button {
  display: none;
}

@media (max-width: 1220px) {
  .header-nav-list-mobile {
    display: block;
  }

  .header-nav-list-flex {
    display: none;
  }

  .header-nav-list-button-consult {
    display: none;
  }

  .header-nav-list-mobile > li > span {
    display: block;
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    color: #f5f5f5;
    text-transform: lowercase;
    cursor: pointer;
  }

  .header-bg {
    padding-left: 20px;
    padding-right: 20px;
  }

  @keyframes show-menu-mobile {
    from {
      opacity: 0;
      transform: translate3d(40px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .header-nav-list-mobile {
    position: absolute;
    right: 0;
    display: block;
    background-color: #240e46;
    padding: 20px;
    z-index: 99999;
    top: 75px;
    height: 1000vh;
    border-radius: 4px 0 0 4px;
    animation: show-menu-mobile 0.4s forwards;
    width: 40%;
  }

  .header-nav-list-mobile li > span {
    display: block;
    font-family: Segoe UI, sans-serif;
    color: #f5f5f5;
    font-size: 18px;
  }

  .header-nav-list-mobile li > span.faq {
    text-transform: uppercase;
  }

  .header-nav-list-mobile li + li {
    margin-top: 20px;
  }

  .header-nav-list-mobile {
    display: none;
  }

  .header-nav-list-mobile-open {
    display: initial;
  }

  .menu-mobile-button {
    display: initial;
  }

  .hidden-menu-mobile-button {
    display: none;
  }

  .menu-mobile-button-close {
    display: initial;
  }

  .hidden-menu-mobile-button-close {
    display: none;
  }

  .menu-mobile-button,
  .menu-mobile-button-close {
    background: transparent;
    border: none;
  }
}

@media (max-width: 600px) {
  .header-nav-list-button-consult-mobile > a {
    font-size: 12px;
  }
}
