.modal-error-container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.342);
  z-index: 9999999;
  display: none;
}

.modal-error-content {
  position: relative;
  background-color: #ffffff;
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  padding: 40px;
}

.modal-error-content p {
  font-size: 20px;
  color: #111111;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #023047;
  text-align: center;
}

.visible {
  display: grid;
}

.modal-error-content div.icon-error-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 2px solid #d00000;
}

.modal-error-content > p.message-2 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
  font-weight: normal;
  max-width: 520px;
  line-height: 1.5;
}

.modal-error-content div.icon-error-container img {
  width: 18px;
}

.modal-error-content > button.button-close-modal {
  font-size: 18px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  border: none;
  width: 120px;
  border-radius: 12px;
  height: 52px;
  margin-top: 20px;
  cursor: pointer;
  color: #000000;
  border: 2px solid #d00000;
  background-color: transparent;
}

.modal-error-content > div.icon-close-modal-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d00000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.modal-error-content > div.icon-close-modal-container img {
  width: 18px;
}

@media (max-width: 820px) {
  .modal-error-content {
    width: 420px;
  }

  .modal-error-content p {
    font-size: 16px;
  }

  .modal-error-content > p.message-2 {
    font-size: 14px;
    max-width: 100%;
  }

  .modal-error-content {
    padding: 20px;
  }

  .modal-error-content > button.button-close-modal {
    font-size: 16px;
    border-radius: 8px;
    height: 42px;
  }

  .modal-error-content div.icon-error-container {
    width: 42px;
    height: 42px;
  }

  .modal-error-content div.icon-error-container img {
    width: 20px;
  }

  .modal-error-content > div.icon-close-modal-container {
    width: 42px;
    height: 42px;
  }

  .modal-error-content > div.icon-close-modal-container img {
    width: 14px;
  }
}

@media (max-width: 464px) {
  .modal-error-content {
    width: 320px;
  }
}
