.pr-16 {
  padding-right: 64px;
}

.pl-16 {
  padding-left: 64px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  display: none;
  place-items: center;
  border-radius: 50%;
  border: none;
  background-color: #f99d1b;
  cursor: pointer;
}

#scrollTopBtn > img {
  width: 18px;
  height: 18px;
}

#scrollTopBtn.show {
  display: grid;
}

@font-face {
  font-family: Segoe UI;
  src: url('../../fonts/Segoe UI.ttf'), url('../../fonts/Segoe UI Bold.ttf');
}
